@import 'fonts.css';
@import "nav-buttons.css";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	/*background: #141E30;
	background: -webkit-linear-gradient(to right, #243B55, #141E30);
	background: linear-gradient(to right, #243B55, #141E30);*/
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	background: url("../../images/bg.jpg");
}

#app {
	width: 1024px;
	height: 100%;
	min-height: 100vh;
	margin: 0 auto;
	font-family: Roboto;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	/*background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);*/
}

#logo {
	height: 256px;
}

#menu {
	height: 70px;
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background: #304352;
	background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
	background: linear-gradient(to right, #d7d2cc, #304352);*/
	background-color: rgba(0, 0, 0, 0.5);
}

#social {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#social .social-button {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
}

#social .social-button a {
	display: block;
	padding: 10px;
}

#navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navigation .nav-button {
	width: 130px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	line-height: 2.4;
}

#contacts {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 13px;
}

#content {
	padding-bottom: 30px;
}

#products {

}

#products .title,
#advantages .title {
	text-align: center;
	color: #fff;
}

#products #liquids {
	box-sizing: border-box;
	padding: 20px 40px;
	overflow: hidden;
}

#products #liquids ul {
	width: 1854px;
	display: flex;
	list-style: none;
}

#liquids .liquid {
	width: 265px;
	height: 265px;
	flex-shrink: 0;
	margin: 0 20px;
}

#liquids .liquid:first-of-type {
	margin-left: 0;
}

#liquids .liquid:last-of-type {
	margin-right: 0;
}

#advantages {
}

#advantages .content {
	box-sizing: border-box;
	padding: 20px;
}

#partner {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border-radius: 5px;
	line-height: 3;
	text-align: center;
	color: #000;
	background-color: #ff0;
}

#popups {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}

#popups.visible {
	opacity: 1;
	pointer-events: auto;
}

#popups .popup {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 824px;
	height: 330px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
	border: 5px solid #7d7d7d;
	border-radius: 20px;
	background-color: #fff;
}

#popups .popup.visible {
	opacity: 1;
	pointer-events: auto;
}

#popups .popup .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url("../../images/close-popup.png") no-repeat center/contain;
}

#popups .popup-content {
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #000;
}

#popups .popup-content h3 {
	margin-top: 80px;
}